/*
Test Section

Markup: simple-test.hbs

.testVariation - to test
.testVariation.test2Variation - two variation test
:hover - with hover
:focus - with focus
.text:hover - tricky

Styleguide SectionABC-Test
*/
/*
Test Section Angular

Angular-Markup: simple-test-angular.html

.testVariation - to test
.testVariation.test2Variation - two variation test
:hover - with hover
:focus - with focus
.text:hover - tricky

angular-wrapper: <div class="widget-wrapper"></div>

Styleguide SectionABC-Test.angular
*/
